<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744604912064-s4gqpe4313fjl8h32r5imq86p2g49q4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744604912064-s4gqpe4313fjl8h32r5imq86p2g49q4d</string>
	<key>API_KEY</key>
	<string>AIzaSyAuW2VrQ29BAewPD6Sybjx8szkOYxMWD8I</string>
	<key>GCM_SENDER_ID</key>
	<string>744604912064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eder.TestAuth</string>
	<key>PROJECT_ID</key>
	<string>test-43f4b</string>
	<key>STORAGE_BUCKET</key>
	<string>test-43f4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744604912064:ios:70ae7bfb813165b7da6025</string>
</dict>
</plist>